body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #aaa;
    display: grid;
    place-content: center;
}

/* game objects */

.start {
    background-color: #0f0;
    height: 20px;
    width: 20px;
    cursor: pointer;
}
.finish {
    background-color: #f00;
    height: 20px;
    width: 20px;
    cursor: pointer;
}
.path {
    background-color: #fff;
    height: 20px;
    width: 20px;
    cursor: crosshair;
}
.wall {
    background-color: #000;
    height: 20px;
    width: 20px;
    cursor: not-allowed;
}

.stage {
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(20, 1fr);
    width: calc(20px * 20);
    height: calc(20px * 20);
}